html, body {
    margin: 0px;
    height: 100%;
}

.void {
    flex: 1;
    background-color: initial;
}

nav {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 10%;
    width: 100%;
    text-align: center;
}

nav img {
    max-height: 75%;
}

nav div a {
    background-color: #931B33;
    padding: 1em;
    margin: 0 1em;
    border-radius: 1em;
    text-decoration: none;
}

nav div a:link, nav div a:visited, nav div a:active {
    text-decoration: none;
    color: white;
} 
nav div a:hover {
    text-decoration: underline;
}